div.if-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 0.5rem;

  .item {
    &.negative {
      grid-column: 1;
      background-color: color-mix(in srgb, var(--hot-red) 15%, transparent);
    }
    &.null {
      grid-column: 2;
      background-color: color-mix(in srgb, var(--bright-blue) 15%, transparent);
    }
    &.positive {
      grid-column: 3;
      background-color: color-mix(
        in srgb,
        var(--electric-violet) 15%,
        transparent
      );
    }

    mat-card-content {
      font-weight: bold;
      text-align: center;
    }
  }
}
