<div class="controls">
  Value: {{ value() }}
  <button mat-raised-button color="primary" type="button" (click)="increment()">
    Increment
  </button>
  <button mat-raised-button color="primary" type="button" (click)="decrement()">
    Decrement
  </button>
</div>

<h2>*ngIf</h2>

<div class="if-container">
  <ng-container *ngIf="value() < 0; else nullish">
    <mat-card class="item negative">
      <mat-card-content> Negative </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<ng-template #nullish>
  <ng-container *ngIf="value() === 0; else positive">
    <mat-card class="item null">
      <mat-card-content> 0 </mat-card-content>
    </mat-card>
  </ng-container>
</ng-template>
<ng-template #positive>
  <mat-card class="item positive">
    <mat-card-content> Positive </mat-card-content>
  </mat-card>
</ng-template>

<h2>&#64;if (former '*ngIf')</h2>

<div class="if-container">
  @if (value() < 0) {
  <mat-card class="item negative">
    <mat-card-content> Negative </mat-card-content>
  </mat-card>
  } @else if (value() === 0) {
  <mat-card class="item null">
    <mat-card-content> 0 </mat-card-content>
  </mat-card>
  } @else {
  <mat-card class="item positive">
    <mat-card-content> Positive </mat-card-content>
  </mat-card>
  }
</div>
