div.defered-container {
  .defered {
    background-color: color-mix(in srgb, var(--bright-blue) 15%, transparent);
  }
  .loading {
    background-color: color-mix(
      in srgb,
      var(--electric-violet) 15%,
      transparent
    );
  }
  .placeholder {
    background-color: color-mix(in srgb, var(--gray-700) 15%, transparent);
  }
  .error {
    background-color: color-mix(in srgb, var(--hot-red) 50%, transparent);
  }

  mat-card-content {
    font-weight: bold;
    text-align: center;
  }
}
