<h2>
  &#64;defer (former constructs like suspense in conjunction with '*ngIf')
</h2>

<div>
  <input
    #checkboxDefer
    type="checkbox"
    [checked]="loadDeferedContent()"
    (change)="loadDeferedContent.set(checkboxDefer.checked)"
    id="checkboxDefer"
  />
  <label for="checkboxDefer"
    >DevTools network tab shows loading <strong>app-dummy</strong> component
    when checked</label
  >
</div>

<p>
  (For displaying the error block switch throttling to `offline` in DevTools)
</p>

<div class="defered-container">
  @defer (when loadDeferedContent()) {
  <mat-card class="defered">
    <mat-card-content>Defered</mat-card-content>
  </mat-card>
  <app-dummy />
  } @loading (minimum 3s) {
  <mat-card class="loading">
    <mat-card-content>Loading --> fetching defered chunk</mat-card-content>
  </mat-card>
  } @placeholder {
  <mat-card class="placeholder">
    <mat-card-content
      >Placeholder --> loading has not started yet</mat-card-content
    >
  </mat-card>
  } @error {
  <mat-card class="error">
    <mat-card-content>Error while loading defered content</mat-card-content>
  </mat-card>
  }
</div>
