<div class="controls">
  <p>Mode: {{ mode() }}</p>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="setBackward()"
  >
    BACKWARD
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="setNeutral()"
  >
    NEUTRAL
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="setForward()"
  >
    FORWARD
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="setParking()"
  >
    PARKING
  </button>
</div>

<h2>*ngSwitch</h2>

<div class="switch-container" [ngSwitch]="mode()">
  <mat-card class="item backward" *ngSwitchCase="'BACKWARD'">
    <mat-card-content>Backward</mat-card-content>
  </mat-card>
  <mat-card class="item neutral" *ngSwitchCase="'NEUTRAL'">
    <mat-card-content>Neutral</mat-card-content>
  </mat-card>
  <mat-card class="item forward" *ngSwitchCase="'FORWARD'">
    <mat-card-content>Forward</mat-card-content>
  </mat-card>
  <mat-card class="item parking" *ngSwitchDefault>
    <mat-card-content>Parking</mat-card-content>
  </mat-card>
</div>

<h2>&#64;switch (former '*ngSwitch')</h2>

<div class="switch-container">
  @switch (mode()) { @case ('BACKWARD') {
  <mat-card class="item backward">
    <mat-card-content>Backward</mat-card-content>
  </mat-card>
  } @case ('NEUTRAL') {
  <mat-card class="item neutral">
    <mat-card-content>Neutral</mat-card-content>
  </mat-card>
  } @case ('FORWARD') {
  <mat-card class="item forward">
    <mat-card-content>Forward</mat-card-content>
  </mat-card>
  } @default {
  <mat-card class="item parking">
    <mat-card-content>Parking</mat-card-content>
  </mat-card>
  } }
</div>
