<h2>*ngFor</h2>

<div class="periodic-container">
  <ng-container *ngIf="array.length; else empty">
    <div class="periodic-element" *ngFor="let element of array; index as idx">
      <p class="periodic-element-name">
        #{{ element.position }} {{ element.name }} (Index: {{ idx }})
      </p>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="periodic-element empty">
      <p class="periodic-element-name">No elements</p>
    </div>
  </ng-template>
</div>

<h2>&#64;for (former '*ngFor')</h2>

<div class="periodic-container">
  @for (element of array; track element.position; let idx = $index;) {
  <div class="periodic-element">
    <p class="periodic-element-name">
      #{{ element.position }} {{ element.name }} (Index: {{ idx }})
    </p>
  </div>
  } @empty {
  <div class="periodic-element empty">
    <p class="periodic-element-name">No elements</p>
  </div>
  }
</div>
